<br><br><br><br><br>
<div class="container">
    <h3 class="text-center">Giỏ Hàng</h3>
    <div class="row">
        <div class="col-9">
            <table class="table">
                <thead class="table-warning">
                <tr>
                    <th scope="col">Hình ảnh</th>
                    <th scope="col">Sản phẩm</th>
                    <th scope="col">Giá</th>
                    <th scope="col">Số lượng</th>
                    <th scope="col">Tổng Tiền</th>
                    <th scope="col">Thao tác</th>
                </tr>
                </thead>
                <tbody>
                <!-- Hiển thị thông báo khi giỏ hàng trống -->
                <tr ng-if="cart.length === 0">
                    <td colspan="6" class="text-center">Không có sản phẩm nào trong giỏ hàng</td>
                </tr>
                <!-- Hiển thị danh sách sản phẩm khi có sản phẩm trong giỏ hàng -->
                <tr ng-repeat="item in cart" ng-if="cart.length > 0">
                    <td><img ng-src="/images/{{ item.variant.anh }}" style="width: 50px; height: 50px;" alt="Hình ảnh sản phẩm"></td>
                    <td>{{ item.product.ten }} ({{ item.variant.mauSac.ten }} - {{ item.variant.kichCo.ten }})</td>
                    <td>
                            <span ng-if="item.variant.giamGia">
                                {{ (item.variant.gia_ban * (1 - item.variant.giamGia.gia_tri / 100)) | currency:"":0 }} đ
                            </span>
                        <span ng-if="!item.variant.giamGia">
                                {{ item.variant.gia_ban | currency:"":0 }} đ
                            </span>
                    </td>
                    <td>
                        <input type="number" ng-model="item.quantity" ng-change="updateCart()" min="1" max="{{ item.variant.so_luong }}" style="width: 60px;">
                    </td>
                    <td>{{ calculateTotalPrice(item) | currency:"":0 }} đ</td>
                    <td>
                        <button class="btn btn-danger btn-sm" ng-click="removeFromCart($index)">Xóa</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-3 p-3">
            <div class="card p-4">
                <h5 class="card-title">ĐƠN HÀNG</h5>
                <hr>
                <div class="mt-3">
                    <div class="d-flex justify-content-between">
                        <span>Đơn hàng:</span>
                        <span>{{ calculateCartTotal() | currency:"":0 }} VND</span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <span>Giảm:</span>
                        <span>0 VND</span>
                    </div>
                </div>
                <hr>
                <div class="d-flex justify-content-between">
                    <strong>Tổng tiền:</strong>
                    <strong>{{ calculateCartTotal() | currency:"":0 }} VND</strong>
                </div><br>
                <a href="#!thanh-toan"><button class="btn btn-danger w-100 mt-3 p-3">TIẾP TỤC THANH TOÁN</button></a>
            </div>
        </div>
    </div>

</div>

<br><br><br><br><br>
