<!-- Sidebar -->
<div class="sidebar" data-background-color="dark">
    <div class="sidebar-logo">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="dark">
            <a href="/admin/index" class="logo">
                <h4 class="text-secondary ">BeePhone Admin</h4>
            </a>
            <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                    <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                    <i class="gg-menu-left"></i>
                </button>
            </div>
            <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
            </button>
        </div>
        <!-- End Logo Header -->
    </div>

    <!-- Menu chức năng -->
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav nav-secondary">
                <li class="nav-item">
                    <a href="/admin/index">
                        <i class="fas fa-chart-bar"></i>
                        <p>Thống Kê</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/bang-hang-tai-quay">
                        <i class="fas fa-luggage-cart"></i>
                        <p>Bán Hàng Tại Quầy</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/hoa-don">
                        <i class="fas fa-file"></i>
                        <p>Quản Lý Hóa Đơn</p>
                    </a>
                </li>
                <li class="nav-item active submenu">
                    <a data-bs-toggle="collapse" href="#forms">
                        <i class="fas fa-calendar"></i>
                        <p>Quản Lý Sản Phẩm</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="forms">
                        <ul class="nav nav-collapse">
                            <li class="active">
                                <a href="/admin/san-pham">
                                    <span class="sub-item">Sản Phẩm</span>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/nha-san-xuat">
                                    <span class="sub-item">Nhà Sản Xuất</span>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/mau-sac">
                                    <span class="sub-item">Màu Sắc</span>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/chat-lieu">
                                    <span class="sub-item">Chất Liệu</span>
                                </a>
                            </li>
                            <li >
                                <a href="/admin/kich-co">
                                    <span class="sub-item">Kích cỡ</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#tables">
                        <i class="fas fa-user"></i>
                        <p>Quản Lý Tài Khoản</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="tables">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="/admin/nhan-vien">
                                    <span class="sub-item">Nhân Viên</span>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/khach-hang">
                                    <span class="sub-item">Khách Hàng</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#maps">
                        <i class="fas fa-file-invoice-dollar"></i>
                        <p>Giảm Giá</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="maps">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="/admin/dot-giam-gia">
                                    <span class="sub-item">Đợt Giảm Giá</span>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/phieu-giam-gia">
                                    <span class="sub-item">Phiếu Giảm Giá</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!-- Hết chức năng  -->
            </ul>
        </div>
    </div>
</div>
<!-- End Sidebar -->