.header-top {
    background-color: #050505;
    color: white;
    text-align: end;
    padding: 5px 10px;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.search-bar input {
    border-radius: 50px 0 0 50px;
    padding-left: 20px;
}

.search-bar button {
    border-radius: 0 50px 50px 0;
}

.icons-group i {
    font-size: 20px;
    margin-left: 20px;
    position: relative;
}

.icons-group .badge {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: red;
    color: white;
    font-size: 12px;
    border-radius: 50%;
}

.navbar-brand img {
    width: 180px;
    height: 80px;
}