nav{
    display: flex;
    justify-content: center;
}
nav li {
    list-style: none;
    padding: 10px;
    margin-bottom: 10px;
    background-color: white; /* Màu nền mặc định */
    color: #333; /* Màu chữ mặc định */
    transition: background-color 0.3s ease, color 0.3s ease; /* Hiệu ứng chuyển mượt mà */
}
/* Khi hover vào thẻ li */
nav li:hover {
    background-color: #f0f0f0; /* Màu nền khi hover */
    color: white; /* Màu chữ khi hover */
}
nav a {
    margin: 0 60px;
    text-decoration: none;
    color: #333;
}
